.note {
  padding: 12px 16px;        /* 12px top & bottom, 16px left & right */
  border: 1px solid #ddd;    /* width, style, colour */
  border-radius: 8px;        /* rounded corners */
  margin-bottom: 10px;       /* space below each note */
}
 
/* Recommended at the top of every stylesheet */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1
{
    color:blue;
}

.my-title {
    color: red;             
}

#my-paragraph-id {
    color:orange;
}

h1, 
p {
    color: greenyellow
}

section p {
    font-weight: bolder;
    background-color: black;
}

button:hover {
    background-color: brown;
    color: white;
}


